<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ActionBarSherlock.Standalone" version="4.4.0.6" targetFramework="MonoAndroid50" />
  <package id="Funq.Portable" version="1.0.1" targetFramework="MonoAndroid22" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="monoandroid50" />
  <package id="PCLStorage" version="1.0.2" targetFramework="MonoAndroid22" />
  <package id="PInvoke.BCrypt" version="0.3.2" targetFramework="monoandroid50" />
  <package id="PInvoke.Kernel32" version="0.3.2" targetFramework="monoandroid50" />
  <package id="PInvoke.NCrypt" version="0.3.2" targetFramework="monoandroid50" />
  <package id="PInvoke.Windows.Core" version="0.3.2" targetFramework="monoandroid50" />
  <package id="SQLite.Net-PCL" version="3.0.5" targetFramework="MonoAndroid22" />
  <package id="Storm.Mvvm" version="1.2.10" targetFramework="MonoAndroid50" />
  <package id="Storm.Mvvm.Android.Support" version="1.2.20" targetFramework="MonoAndroid50" />
  <package id="Validation" version="2.2.8" targetFramework="monoandroid50" />
  <package id="Xam.Plugins.Messaging" version="2.2.1" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v4" version="23.0.1.3" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Insights" version="1.11.2" targetFramework="MonoAndroid50" />
</packages>