<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Funq.Portable" version="1.0.1" targetFramework="MonoAndroid22" />
  <package id="Storm.Mvvm" version="1.1.4" targetFramework="MonoAndroid22" />
  <package id="Storm.Mvvm.Android" version="1.1.14" targetFramework="MonoAndroid22" />
</packages>