<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Funq.Portable" version="1.0.1" targetFramework="portable-net45+win+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="portable-net45+win+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="PCLStorage" version="1.0.2" targetFramework="portable-net45+win+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Storm.Mvvm" version="1.2.6" targetFramework="portable-net45+win+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Xam.Plugins.Messaging" version="2.0.0" targetFramework="portable-net45+win+MonoAndroid10+xamarinios10+MonoTouch10" />
</packages>