<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Funq.Portable" version="1.0.1" targetFramework="win81" />
  <package id="SharpDX" version="2.6.3" targetFramework="win81" />
  <package id="SharpDX.Direct2D1" version="2.6.3" targetFramework="win81" />
  <package id="SharpDX.DXGI" version="2.6.3" targetFramework="win81" />
  <package id="SharpDX.XAudio2" version="2.6.3" targetFramework="win81" />
  <package id="Storm.Mvvm" version="1.2.10" targetFramework="win81" />
  <package id="Storm.Mvvm.Tablet" version="1.2.2" targetFramework="win81" />
</packages>